<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TaskHost" type="WinSvcTaskTimer.Configuration.TaskHostSection, WinSvcTaskTimer, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  
  <appSettings>

    <!--
    =============================================
    ServiceInstaller configuration
    ================================================================================================================
    Key                                        Value         Description
    ================================================================================================================
    ServiceInstaller/ServiceName                  !<string>      The service internal name.
    ServiceInstaller/DisplayName                  ?<string>      The service display name.
    ServiceInstaller/Description                  ?<string>      The service description.
    ServiceInstaller/ServiceAccount               ?<string>      One value from LocalService/NetworkService/LocalSystem/User.
    ServiceInstaller/Username                     ?<string>      If ServiceAccount=User, then contains the username for the service.
    ServiceInstaller/Password                     ?<string>      If ServiceAccount=User, then contains the password for the service.
    ServiceInstaller/ServicesDependedOn           ?<string>      Dependencies to other Windows services (like SQL server), comma separated (item1,item2).
    ServiceInstaller/DelayedAutoStart             ?<bool>        the service should be delayed from starting until other automatically started services are running
    ServiceInstaller/StartType                    ?<string>      One value from Automatic/Manual/Disabled.
    ================================================================================================================
    -->
    <add key="ServiceInstaller/ServiceName" value="SuperService" />
    <add key="ServiceInstaller/DisplayName" value="" />
    <add key="ServiceInstaller/Description" value="A super Windows Service" />
    <add key="ServiceInstaller/ServiceAccount" value="NetworkService" />
    <add key="ServiceInstaller/Username" value="" />
    <add key="ServiceInstaller/Password" value="" />
    <add key="ServiceInstaller/ServicesDependedOn" value="MSSQLSERVER" />
    <add key="ServiceInstaller/DelayedAutoStart" value="False" />
    <add key="ServiceInstaller/StartType" value="Automatic" />
  </appSettings>

  <TaskHost>
    <Tasks>
      <Task Name="SampleRunner1" Type="WinSvcTaskTimer.SampleRunner, WinSvcTaskTimer" />
      <Task Name="PingDuck" Type="WinSvcTaskTimer.ShellRunner, WinSvcTaskTimer" Argument="CODE:0 ping duckduckgo.com" />
      <Task Name="PingFail" Type="WinSvcTaskTimer.ShellRunner, WinSvcTaskTimer" Argument="ping duckduckgo.comr" />
      <Task Name="Sleep" Type="WinSvcTaskTimer.ShellRunner, WinSvcTaskTimer" Argument="timeout /t 11" />
    </Tasks>
    <Timers>
      <!--<Timer Name="task10" TaskName="taskName" Interval="00:00:30" Delay="00:00:00" TickBehavior="Continue" />
      <Timer Name="task11" TaskName="taskName" Interval="00:00:30" Delay="00:01:10" TickBehavior="WaitNextTick" />-->
      <Timer Name="SampleRunner1.Task1" TaskName="SampleRunner1" Enabled="False" Interval="00:00:30" Delay="00:00:01" TickBehavior="Continue" />
      <Timer Name="PingDuck.test" TaskName="PingDuck" Enabled="False" Interval="00:00:30" Delay="00:00:05" TickBehavior="Continue" />
      <Timer Name="PingFail.test" TaskName="PingFail" Enabled="False" Interval="00:00:30" Delay="00:00:05" TickBehavior="Continue" />
      <Timer Name="Sleep1" TaskName="Sleep" Enabled="True" Interval="00:00:10" Delay="00:00:02" TickBehavior="WaitNextTick" />
      <Timer Name="Sleep2" TaskName="Sleep" Enabled="True" Interval="00:00:10" Delay="00:00:04" TickBehavior="Continue" />
    </Timers>
  </TaskHost>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="WinSvcTaskTimer.exe.log" traceOutputOptions="DateTime" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  
</configuration>
